main {
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #c9d1d9;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;

  --color-btn-text: #d7d7d7;
  --color-btn-bg: #1e1e1e;
  --color-btn-border: #d7d7d726;
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: #262626;
  --color-btn-hover-border: #d7d7d733;
  --color-btn-active-bg: #303030;
  --color-btn-active-border: #d7d7d733;
  --color-btn-selected-bg: #262626;
  --color-btn-primary-text: #161616;
  --color-btn-primary-bg: #d7d7d7;
  --color-btn-primary-border: #d7d7d726;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #dbdbdb;
  --color-btn-primary-hover-border: #d7d7d726;
  --color-btn-primary-selected-bg: #cfcfcf;
  --color-btn-primary-selected-shadow: inset 0 1px 0 #00000033;
  --color-btn-primary-disabled-text: #161616cc;
  --color-btn-primary-disabled-bg: #717171;
  --color-btn-primary-disabled-border: #d7d7d726;

  --color-action-list-item-default-hover-bg: #26262652;
  --color-segmented-control-bg: #1e1e1e;
  --color-segmented-control-button-bg: #161616;
  --color-segmented-control-button-selected-border: #3d3d3d;

  --color-fg-default: #d7d7d7;
  --color-fg-muted: #a2a2a2;
  --color-fg-subtle: #717171;
  --color-canvas-default: transparent;
  --color-canvas-overlay: #161616;
  --color-canvas-inset: #1e1e1e;
  --color-canvas-subtle: #1e1e1e;
  --color-border-default: #2b2b2b;
  --color-border-muted: #222222;
  --color-neutral-muted: #a2a2a233;

  --color-accent-fg: #d7d7d7;
  --color-accent-emphasis: #d7d7d7;
  --color-accent-muted: #d7d7d766;
  --color-accent-subtle: #d7d7d71a;

  --color-success-fg: #3fb950;
  --color-attention-fg: #d29922;
  --color-attention-muted: #bb800966;
  --color-attention-subtle: #bb800926;
  --color-danger-fg: #f85149;
  --color-danger-muted: #f8514966;
  --color-danger-subtle: #f851491a;
  --color-primer-shadow-inset: 0 0 transparent;
  --color-scale-gray-7: #262626;
  --color-scale-blue-8: #363636;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg);
}

main .gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-dark.gif);
}

main .btn-primary {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
}

main .gsc-comments-count,
main .gsc-comments-count-separator,
main .gsc-replies-count {
  font-size: 0.875rem;
  font-weight: 500;
  color: #a2a2a2;
}

main .gsc-comments-count a {
  color: inherit;
}
