@import 'tailwindcss';
@import './codehike.css';

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #191c1f;
  --color-subtle: #737373;
  --color-link: #004ec7;
  --color-line: #e5e7eb;
  --color-surface: #f2f4f6;
  --color-background: #ffffff;

  --color-yellow: #fef08a;
  --color-orange: #eab308;

  --animate-flip: flip 1s ease-in-out infinite;

  @keyframes flip {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}

[data-theme~='dark'] {
  --color-primary: #dddddd;
  --color-subtle: #b3b3b3;
  --color-link: #10b981;
  --color-line: #3a3e42;
  --color-surface: #262a30;
  --color-background: #191c1f;
}

@layer base {
  body {
    @apply text-primary;
    @apply bg-background;

    font-synthesis: none;

    .katex-display {
      overflow-x: scroll;
    }
  }

  button {
    @apply cursor-pointer;
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
