@import 'tailwindcss';
@import './codehike.css';

@theme {
  --color-*: initial;

  --color-red: #ef233c;
  --color-orange: oklch(79.5% 0.162 86deg);
  --color-yellow: oklch(94.5% 0.124 102deg);
  --color-blue: oklch(46.8% 0.2 261deg);
  --color-green: oklch(69.6% 0.149 162deg);

  --color-main: oklch(26.9% 0 0);
  --color-mute: oklch(26.9% 0 0 / 65%);
  --color-soft: oklch(26.9% 0 0 / 30%);
  --color-line: oklch(26.9% 0 0 / 10%);
  --color-link: oklch(46.8% 0.2 261deg);
  --color-surface: oklch(96.5% 0 0);
  --color-background: oklch(100% 0 0);

  --animate-flip: flip 1s ease-in-out infinite;

  @keyframes flip {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}

[data-theme~='dark'] {
  --color-main: oklch(97% 0 0);
  --color-mute: oklch(97% 0 0 / 65%);
  --color-soft: oklch(97% 0 0 / 40%);
  --color-line: oklch(97% 0 0 / 10%);
  --color-link: oklch(69.6% 0.149 162deg);
  --color-surface: oklch(28% 0 0);
  --color-background: oklch(22.5% 0.0074 248deg);
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply text-main;
    @apply bg-background;

    @apply antialiased;

    font-synthesis: none;

    .katex-display {
      overflow-x: scroll;
    }
  }

  button {
    @apply cursor-pointer;
  }
}

@utility transition-soft-* {
  transition-property: var(--transition-(--value('all', 'colors', 'opacity', 'transform')));
  transition-duration: 300ms;
  transition-timing-function: var(--ease-out);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
